* {
  font-family: 'Audiowide', cursive; }

.header {
  background-color: #2c3e50;
  color: #bdc3c7;
  height: 60px;
  text-align: center; }
  .header h3 {
    margin: 0;
    padding: 15px; }
  .header span {
    margin-left: 15px; }

.addRecipeButton {
  background-color: #c0392b;
  border-radius: 50%;
  padding: 1px 8px;
  cursor: pointer; }
  .addRecipeButton:hover {
    color: #ffffff; }

.thumbNail {
  cursor: pointer;
  height: 330px;
  overflow: hidden;
  background-color: #ecf0f1; }
  .thumbNail:hover {
    background-color: #2c3e50; }
  .thumbNail h4 {
    color: #bdc3c7;
    padding: 10px; }

.gallery {
  margin-top: 40px !important;
  text-align: center; }

img {
  height: 242px !important;
  width: 300px !important;
  padding-top: 20px; }

.alert {
  font-weight: bold;
  color: #f92d0f; }

.addRecipeModalFooter {
  text-align: center; }

.addRecipeModalButton {
  width: 80px; }

.modalImg img {
  width: 100% !important;
  height: 100% !important;
  text-align: center; }

.recipeModalButtons {
  text-align: center; }

.recipeModalButton {
  width: 80px; }

.glyphicon-remove {
  color: #d35400;
  margin-left: 15px;
  cursor: pointer; }

ul {
  margin: 0 !important; }

.inputField {
  margin-top: 10px; }
